<div class="dashboard_summary">
    <div class="row pie-charts">
        <div class="pie-chart-item-container">
            <div class="panel animated zoomIn">
                <div class="panel-body">
                    <div class="pie-chart-item">
                        <div class="chart"> <i class="fa fa-user fa-5x"></i> </div>
                        <div class="description">
                            <div>{{adminstats.customers}}</div>
                            <div class="description-stats">Total Customers</div>
                        </div>
                    </div>
                </div>
                <!--<a href='#/users/list?search={"filter":"active"}'>
                    <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>--></div>
        </div>
        <div class="pie-chart-item-container">
            <div class="panel animated zoomIn">
                <div class="panel-body">
                    <div class="pie-chart-item">
                        <div class="chart"> <i class="fa fa-reply fa-5x"></i> </div>
                        <div class="description">
                            <div>{{adminstats.ads}}</div>
                            <div class="description-stats">Total Ads</div>
                        </div>
                    </div>
                </div>
                <!--<a href='#/ads/list'>
                    <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>--></div>
        </div>
        <div class="pie-chart-item-container">
            <div class="panel animated zoomIn">
                <div class="panel-body">
                    <div class="pie-chart-item">
                        <div class="chart"> <i class="fa fa-cog fa-5x"></i> </div>
                        <div class="description">
                            <div>{{adminstats.ad_report}}</div>
                            <div class="description-stats">Total Reports</div>
                        </div>
                    </div>
                </div>
                <!--<a href='#/ad_reports/list'>
                    <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>--></div>
        </div>
    </div>
</div>