<div id="how-it-works">
    <!-- BEGIN: MAIN -->
    <div class="main">
        <!-- BEGIN: HOW WORKS SECTION -->
        <section class="how-works">
            <div class="container">
                <div class="text-center">
                    <h3 class="h2 price-txt font-wei300 text-28">{{'The Best Deals Near You'|translate}}!</h3>
                    <p class="by-sel-txt"> {{'With Oliker it is so easy to Buy or Sell'|translate}}.</p>
                    <div class="clearfix buy-sel-blk">
                        <div class="pull-left">
                            <a href="ads/add" title="" class="btn btn-danger btn-sell"> <span class="text-16">{{'I want to Sell'|translate}}</span> </a>
                        </div>
                        <div class="pull-right">
                            <a href="ads" title="" class="btn btn-primary btn-buy"> <span class="text-16">{{'I want to Buy'|translate}}</span> </a>
                        </div>
                    </div>
                    <div class="row deals-blk">
                        <div class="col-sm-6"> <img src="/images/post-ad.png" alt="[Image: Post-ad]" title="Post-ad" class="img-responsive center-block">
                            <h3 class="h4 font-wei600">{{'Post Ad'|translate}}</h3>
                            <p class="text-muted"> Lorem Ipsum is simply dummy text of the <span class="show">
                                                	printing and typesetting industry.
                                                </span> </p>
                        </div>
                        <div class="col-sm-6"> <img src="/images/search-for-item.png" alt="[Image: Search-for-item]" title="Search-for-item" class="img-responsive center-block">
                            <h3 class="h4 font-wei600">{{'Search for item'|translate}}</h3>
                            <p class="text-muted"> Lorem Ipsum is simply dummy text of <span class="show"> 
                                                    the printing and typesetting industry.
                                                </span> </p>
                        </div>
                        <div class="col-sm-6"> <img src="/images/contacts.png" alt="[Image: Contacts]" title="Contacts" class="img-resposnive center-block">
                            <h3 class="h4 font-wei600">{{'Wait for the contacts of the interested parties'|translate}}.</h3>
                            <p class="text-muted"> Lorem Ipsum is simply dummy text of <span class="show"> 
                                                	the printing and typesetting industry.
                                                </span> </p>
                        </div>
                        <div class="col-sm-6"> <img src="/images/contact-advertiser.png" alt="[Image: Contact-advertiser]" title="Contact-advertiser" class="img-responsive center-block">
                            <h3 class="h4 font-wei600">{{'Found'|translate}}? {{'Contact the advertiser'|translate}}</h3>
                            <p class="text-muted"> Lorem Ipsum is simply dummy text of <span class="show"> 
                                            	the printing and typesetting industry.
                                            </span> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="h4 font-wei600">{{'Found'|translate}}? {{'Contact the advertiser'|translate}}</h3>
                            <p class="text-muted"> Lorem Ipsum is simply dummy text of the <span class="show">
                                                printing and typesetting industry.
                                            </span> </p> <img src="/images/group-chart.png" alt="[Image: Group-chart]" title="Group-chart" class="img-responsive center-block"> </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END: HOW WORKS SECTION -->
        <!-- START: SUBMIT FREE SECTION -->
        <div ng-include="'views/submit_free_ad.html'"></div>
    </div>
    <!-- END: MAIN -->