<!-- START: DETAIL CATERGORIES SECTION -->
<section class="detail-categories">
    <div class="container">
        <h4>{{'Main section Categories in section "Furniture"'|translate}}</h4>
        <div> <a href="#" title="India Categories" class="btn btn-primary">{{'India'|translate}}</a> </div>
        <div class="clearfix categ-row">
            <div class="categories-block">
                <ul class="list-unstyled">
                    <li> <a href="#" title="Maharashtra">Maharashtra <span>(3,603)</span></a> </li>
                    <li> <a href="#" title="Kerala">Kerala <span>(960)</span></a> </li>
                    <li> <a href="#" title="Rajasthan">Rajasthan <span>(676)</span></a> </li>
                    <li> <a href="#" title="Uttaranchal">Uttaranchal <span>(184)</span></a> </li>
                    <li> <a href="#" title="Goa">Goa <span>(113)</span></a> </li>
                </ul>
            </div>
            <div class="categories-block">
                <ul class="list-unstyled">
                    <li> <a href="#" title="Delhi">Delhi <span>(1,952)</span></a> </li>
                    <li> <a href="#" title="Tamil Nadu">Tamil Nadu <span>(894)</span></a> </li>
                    <li> <a href="#" title="Punjab">Punjab <span>(538)</span></a> </li>
                    <li> <a href="#" title="Chhattisgarh">Chhattisgarh <span>(167)</span></a> </li>
                    <li> <a href="#" title="Assam">Assam <span>(96)</span></a> </li>
                </ul>
            </div>
            <div class="categories-block">
                <ul class="list-unstyled">
                    <li> <a href="#" title="Gujarat">Gujarat<span>(1,453)</span></a> </li>
                    <li> <a href="#" title="Haryana">Haryana<span>(870)</span></a> </li>
                    <li> <a href="#" title="Madhya Pradesh">Madhya Pradesh<span>(534)</span></a> </li>
                    <li> <a href="#" title="Bihar">Bihar<span>(142)</span></a> </li>
                    <li> <a href="#" title="Jammu &amp; Kashmir">Jammu &amp; Kashmir<span>(35)</span></a> </li>
                </ul>
            </div>
            <div class="categories-block">
                <ul class="list-unstyled">
                    <li> <a href="#" title="Karnataka">Karnataka <span>(1,346)</span></a> </li>
                    <li> <a href="#" title="West Bengal">West Bengal <span>(750)</span></a> </li>
                    <li> <a href="#" title="Andhra Pradesh">Andhra Pradesh <span>(249)</span></a> </li>
                    <li> <a href="#" title="Jharkhand">Jharkhand <span>(142)</span></a> </li>
                    <li> <a href="#" title="Pondicherry">Pondicherry <span>(27)</span></a> </li>
                </ul>
            </div>
            <div class="categories-block">
                <ul class="list-unstyled">
                    <li> <a href="#" title="Uttar Pradesh">Uttar Pradesh <span>(1,187)</span></a> </li>
                    <li> <a href="#" title="Telangana">Telangana <span>(740)</span></a> </li>
                    <li> <a href="#" title="Chandigarh">Chandigarh <span>(227)</span></a> </li>
                    <li> <a href="#" title="Odisha">Odisha <span>(127)</span></a> </li>
                    <li> <a href="#" title="Himachal Pradesh">Himachal Pradesh <span>(9)</span></a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END: DETAIL CATERGORIES SECTION -->
<!-- START: POPULAR SEARCH SECTION -->
<section class="popular-search">
    <div class="container">
        <ul class="list-inline">
            <li>
                <h3>Popular searches:</h3>
            </li>
            <li> <span>Home</span> <span>Carpet</span> <span>Painting</span> <span>Garden</span> <span>Curtains</span> <span>Lamp</span> <span>Antique</span> <span>Home decor</span> <span>Carpets</span> <span>Decorative</span> </li>
        </ul>
    </div>
</section>