<section class="table-blk">
    <div class="container">
        <div class="clearfix navbar-btn">
            <div class="pull-left">
                <h3 class="text-primary text-28 font-wei300 list-group-item-heading">{{vm.head_title}}</h3>
                <p class="navbar-btn mange-txt">{{vm.head_description}}</p>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="{{vm.active_tab1}}"><a href="my_ads" title='{{"Ads"|translate}}' class="text-16 text-muted">{{'Ads'|translate}}</a></li>
            <li role="presentation" class="{{vm.active_tab4}}"><a href="cash_withdrawals" title='{{"Payments"|translate}}' class="text-16 text-muted">{{'Payments'|translate}}</a></li>
            <li role="presentation" class="{{vm.active_tab5}}"><a href="users/settings" title='{{"Personal Data"|translate}}' class="text-16 text-muted">{{'Personal Data'|translate}}</a></li>
            <li role="presentation" class="{{vm.active_tab3}}"><a href="messages/inbox" title='{{"Messages"|translate}}' class="text-16 text-muted">{{'Messages'|translate}}</a></li>
            <li role="presentation" class="{{vm.active_tab6}}"><a href="ad_subscription_packages" title='{{"Ad Subscription Packages"|translate}}' class="text-16 text-muted">{{'Ad Subscription Packages'|translate}}</a></li>
        </ul>
    </div>
</section>