<ul class="nav nav-tabs">
    <li role="presentation" class="cur {{vm.active_tab1}}"><a href="my_ads" title='{{"Ads"|translate}}' class="text-16 text-muted">{{'Ads'|translate}}</a></li>
    <li role="presentation" class="cur {{vm.active_tab4}}"><a href="cash_withdrawals" title='{{"Payments"|translate}}' class="text-16 text-muted">{{'Payments'|translate}}</a></li>
    <li role="presentation" class="cur {{vm.active_tab5}}"><a href="users/settings" title='{{"Personal Data"|translate}}' class="text-16 text-muted">{{'Personal Data'|translate}}</a></li>
    <li role="presentation" class="cur {{vm.active_tab3}}"><a href="messages/inbox" title='{{"Messages"|translate}}' class="text-16 text-muted">{{'Messages'|translate}}</a></li>
    <li role="presentation" class="cur {{vm.active_tab6}}"><a href="ad_subscription_packages" title='{{"Ad Subscription Packages"|translate}}' class="text-16 text-muted">{{'Ad Subscription Packages'|translate}}</a></li>
</ul>