<div ng-controller='UsersChangePasswordController as vm'>
    <!-- BEGIN:  TABLE-BLK SECTION -->
    <section class="table-blk">
        <div class="container">
            <div class="clearfix navbar-btn">
                <div class="pull-left">
                    <h3 class="text-primary text-28 font-wei300 list-group-item-heading">{{'Change Password'|translate}}</h3>
                    <p class="navbar-btn mange-txt">{{'Manage Your Password'|translate}}</p>
                </div>
            </div>
            <div ng-include="'views/main_tab.html'"></div>
        </div>
    </section>
    <!-- END: TABLE-BLK SECTION -->
    <section class="table-content custom-tabs">
        <div class="container">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="hom">
                    <div class="thumbnail">
                        <div class="clearfix">
                            <div class="pull-left">
                                <div ng-include="'views/menu_tab.html'"></div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div ng-include="'views/loader.html'"></div>
                            <div role="tabpanel" class="tab-pane fade in active" id="home-acti">
                                <div class="notfications-content">
                                    <h3 class="h4 ver-space15">{{'Change Password'|translate}}</h3>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <form class="form-horizontal adminpg-form" role="form" name="vm.userChangePassword" ng-submit="vm.save()">
                                            <div class="form-group">
                                                <div class="col-sm-4"> <label for="inputUsername3" class="control-label">{{'Current password'|translate}}<span class="text-danger">&nbsp;*</span></label> </div>
                                                <div class="col-sm-8"> <input type="password" ng-model="vm.changePassword.password" class="form-control" id="inputUsername3" placeholder="{{'Current password'|translate}}" autocomplete="off" required> </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4"> <label for="inputPassword3" class="control-label">{{'Password'|translate}}<span class="text-danger">&nbsp;*</span></label> </div>
                                                <div class="col-sm-8"> <input type="password" ng-model="vm.changePassword.new_password" class="form-control" id="inputPassword3" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.repeat_password.pattern = this.value;"
                                                        placeholder="{{'Password'|translate}}" autocomplete="off" required> </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4"> <label for="inputRepeatPassword3" class="control-label">{{'Repeat Password'|translate}}<span class="text-danger">&nbsp;*</span></label> </div>
                                                <div class="col-sm-8"> <input type="password" ng-model="vm.changePassword.repeat_password" name="repeat_password" class="form-control" id="inputRepeatPassword3" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
                                                        placeholder="{{'Repeat Password'|translate}}" autocomplete="off" required> </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-4 col-sm-8"> <button type="submit" ng-show="save_btn" class="btn textb btn-primary disabled">{{'Submit'|translate}}</button> <button type="submit" ng-show="!save_btn" class="btn textb btn-primary">{{'Submit'|translate}}</button>                                                    </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- START: ACTION FREE SECTION -->
    <section class="sec-action-blk">
        <div class="container">
            <div class="pull-right list-rgt">
                <div class="row" ng-show="!vm.loader">
                    <div class="col-md-12 text-center" ng-hide="(vm.cashWithdrawalsList.length < vm.itemsPerPage) && vm.currentPage==1">
                        <uib-pagination ng-hide="!vm.cashWithdrawalsList.length" previous-text="Previous" next-text="Next" total-items="vm.totalItems" num-pages="vm.numPages" ng-model="vm.currentPage" max-size="vm.maxSize" class="pagination-sm" boundary-link-numbers="true"
                            rotate="false" items-per-page="vm.itemsPerPage" ng-change="vm.paginate()"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- START: SUBMIT FREE SECTION -->
    <div ng-include="'views/submit_free_ad.html'"></div>
    <!-- END: SUBMIT FREE SECTION -->
    <!--<div ng-include="'views/main_categories.html'"></div>--></div>